.Detail_table_container {
    max-width: 100%;
    padding: 20px;
    border-radius: 10px;
    background: #f9fafb;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', sans-serif;
}

.Detail_table_title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

.Detail_Product_table {
    width: 100%;
    border-collapse: collapse;
}

.Detail_Product_table td {
    border: 1px solid #ccc;
    padding: 12px 20px;
}

.Detail_Product_table th {
    background-color: #2f3542;
    color: white;
    font-weight: bold;
    width: 20%;
    border: 1px solid #ccc;
    padding: 12px 10px;
}

.Detail_Product_table td:hover {
    background-color: #e0f7fa;
    cursor: pointer;
    transition: 0.3s;
}

.Detail_Product_table td {
    color: #333;
}


.Detail_Product_table img {
    height: 50px;
    width: 50px;
}